//BG Styling

.bg {
	position: fixed;
}
/*.bg {
	width: 100vw;
	height: 100vw;
	position: fixed;
	overflow: hidden;
}
.bg-strip {
	position: relative;
	display: inline-block;
	width: 5vw;
	height: 1000vh;
	background: linear-gradient(black, white);
}*/