// Header Styles

.header {
	padding: 10vw 0 5vw;
	* {
		text-align: center;
	}
	.name,
	.title {
		line-height: initial;
	}
	.name {
		font-family: 'Megrim', sans-serif;
		font-size: 13vw;
		color: $blueGray;
	}
	.title {
		font-size: 5vw;
		font-family: Assistant, sans-serif;
		margin: 0;
		color: $charcoal;
		font-weight: 400;
	}
}